:root {
  --scrollbar-size: 30px;
}

.scrollbar {
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-size);
}

.scrollbar::-webkit-scrollbar-track {
  background-color: hsla(var(--b2) / 0.2);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(var(--b2) / 0.4);
  border-radius: 9999px;
}
