@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, dracula, retro, black;
}
@import "./styles/scrollbar.css";

:root {
  color-scheme: light;
}

a {
  @apply text-primary underline-offset-4 transition hover:text-primary hover:underline;
}

body {
  @apply h-screen bg-base-200 font-sans text-base-content antialiased;
  overflow: hidden;
}

#app {
  @apply h-full;
  overflow: hidden;
}
